
# Copyright 2021 John Hanley. MIT licensed.


.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
sdist/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# mypy
.mypy_cache/

# Pyre type checker
.pyre/
